/* Media Queries for iPhone 13-14 */
@media only screen and (max-width: 430px) {

    main {
        padding: 0.2rem;
    }

    #hero-hand {
        grid-column: 1 / 7;

        width: 100%;

        img {
            object-fit: cover;
            padding: 5rem;
        }
    }

    h2 {
        text-align: center;
        font-size: large;
    }

    h3,
    p {
        font-size: small;
    }

    #seedling {
        grid-column: 1 / 4;
        grid-row: 8/16;
    }

    #dig {
        grid-column: 4 / 7;
        grid-row: 8/16;
    }

    #desktop,
    .card-button {
        display: none;
    }

    #mobile {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        font-weight: bold;
        z-index: 2;

        img {
            width: 3rem;
        }
    }

    .card-content-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .bin {
        filter: invert(55%) sepia(100%) saturate(468%) hue-rotate(310deg) brightness(70%) contrast(92%);
        display: block;
        height: 5px;
    }


    #season,
    #planted-earlier {
        grid-column: span 6;
        grid-row: 1;
        text-align: center;
    }


    .article-text {

        display: inline-block;
        text-align: center;




        .button-right,
        .button-left {
            margin: 3rem;
            position: inherit;
        }

    }

    .cards {

        .card {
            grid-column: span 3;

            img {
                height: 10rem;
            }
        }

        .card-content {
            padding: 0.5rem;
        }
    }

    #footer-heart {
        grid-column: span 6;
        grid-row: 1;

        .svg-overlay {
            width: 40%;
            position: relative;
            left: 30%;
            z-index: 1;
        }
    }

    #footer-left {
        grid-column: 1/7;
        grid-row: 2;
    }

    .page-two-hero {
        .page-two-hero-image {
            height: 17rem;
        }

        .page-two-svg-overlay {
            top: 50%;
            width: 50%;
        }


    }

    .page-two-hero h2 {
        font-size: larger;
        color: white;
        top: 80%;
        left: 35%;
    }



    #add-new-plants-title {
        grid-column: span 6;

        h2 {
            text-align: center;
            font-size: large;
        }
    }

    #planta-input,
    #datum-input {
        grid-column: span 6;

    }

    #planta,
    #datum {
        margin: 0;
    }

    #datum {
        margin-bottom: 1rem;
    }

    .footer-two {
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5rem 0.5rem 0;
        gap: 0.5rem;
        padding: 0.5rem;

        img {
            height: min-content;
            max-height: 6rem;
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }

}